div.jumbotron#joemazon-product-jumbotron
  div.container
    h1 Hi #{user.firstName}! 
  div.container 
    div.row 
      div.col-lg-4
        a(href="http://localhost:3000/user/favourites") 
          h3 Your Wish List
        div.container.joemazon-section
          div.row   
            div.col-lg-6
              img.joemazon-wish-list-grid(src=`${user.favourites[0].image}`)
            div.col-lg-6 
              img.joemazon-wish-list-grid(src=`${user.favourites[1].image}`)
        //- section.joemazon-section
        //-   - for (var i = 0; i < user.favourites.length; i++) {
        //-       a(href=`products/product=${user.favourites[i]._id}`)
        //-         ul #{user.favourites[i].title}
        //-         img.joemazon-product-image-size(src=`${user.favourites[i].image}`)
        //-   - }
      div.col-lg-4 
        h3 Order History
        section.joemazon-section
          p hello there
      div.col-lg-4 
        h3 Your Orders
